/**
 * Rangeslider
 */
.rangeslider {
    margin: 20px 0;
    position: relative;
    background: #e6e6e6;
}
.rangeslider .rangeslider__fill, .rangeslider .rangeslider__handle {
    position: absolute;
}
.rangeslider, .rangeslider .rangeslider__fill {
    display: block;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.rangeslider .rangeslider__handle {
    background: #2F9FAD;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}

/**
 * Rangeslider - Horizontal slider
 */
.rangeslider-horizontal {
    height: 15px;
    border-radius: 3px;
}
.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background: #2F9FAD;
    border-radius: 3px;
    top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
    width: 17px;
    height: 22px;
    border-radius: 3px;
    top: -4px;
}

/**
 * Rangeslider - Vertical slider
 */
.rangeslider-vertical {
    margin: 20px auto;
    height: 150px;
    max-width: 10px;
    background: none;
}
.rangeslider-vertical .rangeslider__fill {
    width: 100%;
    background: #2F9FAD;
    box-shadow: none;
    bottom: 0;
}
.rangeslider-vertical .rangeslider__handle {
    width: 30px;
    height: 10px;
    left: -10px;
}
.rangeslider-vertical .rangeslider__handle:active {
    box-shadow: none;
}