{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "module": true
        }
    },
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "vars-on-top": 0,
        "camelcase": 0,
        "no-console": 0,
        "func-names": 0,
        "no-case-declarations": 0,
        "no-param-reassign":1,
        "prefer-arrow-callback":0,
        "space-before-function-paren":0,
        "max-len": [2, 220, 2, {
            "ignoreUrls": true,
            "ignoreComments": false
        }],
        "new-cap":0
    }
}


/*
{
  "extends": "airbnb",
  "rules": {
    "indent": 0,
    "vars-on-top": 0,
    "camelcase": 0,
    "no-console": 0,
    "func-names": 0,
    "comma-dangle": 0,
    "no-case-declarations": 0,
    "no-param-reassign": 1,
    "prefer-arrow-callback": 0,
    "space-before-function-paren": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-es6-class": 0,
    "react/jsx-indent": 0,
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "react/prop-types": 0,
    "no-undef": 1,
    "react/jsx-no-bind": 1,
    "react/jsx-no-undef": 1,
    "react/sort-comp": 0,
    "object-shorthand": 1,
    "quotes": [2, "single"],
    "max-len": [2, 220, 2, {
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ],
    "new-cap": 0
  },
  "globals": {
    "$": true,
    "dataLayer": true,
    "console": true,
    "google": true,
    "Calculators": true,
    "PrintPaperFNADialog": true,
    "PrintFNAReportDialog": true,
    "Twig": true,
    "TwigTemplates": true,
    "FatalErrorDialog": true,
    "NavigationErrorDialog": true,
    "Partial": true,
    "Dialog": true,
    "EventEmitter": true,
    "FnaStore": true,
    "QcsDialog": true,
    "ContactBrokerDialog": true,
    "IframeDialog": true,
    "RetirementCalculationEngine": true,
    "RetirementStore": true,
    "TwigPartialData": true,
    "moment": true,
    "SaveMenuDialog": true,
    "DeleteFNADialog": true,
    "ModifyClientAccessDialog": true,
    "PrintReportFNADialog": true,
    "AddIncomeDialog": true,
    "Store": true,
    "EditView": true,
    "AccessView": true,
    "View": true,
    "NewFNADialog": true,
    "EditableIncome": true,
    "ResetRecommendationsDialog": true,
    "TwigViewMixin": true,
    "NotesView": true,
    "LeftMenuView": true,
    "TopMenuView": true,
    "Dependent": true,
    "Phone": true,
    "Address": true,
    "Email": true,
    "Highcharts": true,
    "EditOASDialog": true,
    "EditQPPDialog": true,
    "EditSPPDialog": true,
    "AddExpenseDialog": true,
    "PrintRetirementAnalysisDialog": true,
    "PrintLifeAnalysisDialog": true,
    "PrintDebtAnalysisDialog": true,
    "InvestorProfilePanel": true,
    "NewScenarioDialog": true,
    "BirthdateErrorDialog": true,
    "InformationErrorDialog": true,
    "RetirementGoalDialog": true,
    "React": true,
    "ReactDOM": true,
    "ReactDialog": true,
    "Reflux": true,
    "Retirement_Reducer_Actions": true,
    "Omnistore_Actions": true,
    "clone": true,
    "DialogComponent": true,
    "UniverisInvestor": true,
    "_": true,
    "view_id": true,
    "TabsView": true,
    "Reminder": true,
    "NewUniverisInvestorDialog": true,
    "jsonDiff": true,
    "ReactLoading": true,
    "Investment_Reducer_Actions": true,
    "Cashflow_Reducer_Actions": true,
    "Retirement_Reducer": true,
    "Investment_Reducer": true,
    "Cashflow_Reducer": true,
    "Immutable": true,
    "Store_Subjects": true,
    "ModelFiller": true,
    "ReactView": true,
    "RetirementAnalysisSummaryBox": true,
    "CashFlowSummaryBox": true,
    "BalanceSheetSummaryBox": true,
    "EditGrossIncome": true,
    "Raven": false,
    "StandAloneWrapper": true
  }
}*/