{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "vars-on-top": 0,
        "camelcase": 0,
        "no-console": 0,
        "func-names": 0,
        "no-case-declarations": 0,
        "no-param-reassign":1,
        "prefer-arrow-callback":0,
        "space-before-function-paren":0,
        "max-len": [2, 220, 2, {
            "ignoreUrls": true,
            "ignoreComments": false
        }],
        "new-cap":0
    }
}
