<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/highlight.js@9.12.0/styles/tomorrow-night-eighties.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="mount"></div>

  <script src="https://unpkg.com/react@15.4.2/dist/react.min.js"></script>
  <script src="https://unpkg.com/react-dom@15.4.2/dist/react-dom.min.js"></script>
  <script src="https://unpkg.com/react-ga@2.2.0/dist/react-ga.min.js"></script>
</body>

</html>
